<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>添加微博好友(暂时不用)</key>
	<dict>
		<key>title</key>
		<string>添加微博好友</string>
		<key>image</key>
		<string>sport_image_friend_wb</string>
		<key>index</key>
		<string>4</string>
	</dict>
	<key>findFriends</key>
	<array>
		<dict>
			<key>title</key>
			<string>附近的人</string>
			<key>image</key>
			<string>sport_image_friend_near</string>
			<key>index</key>
			<string>0</string>
			<key>local</key>
			<string>nearPeople</string>
		</dict>
		<dict>
			<key>title</key>
			<string>通讯录朋友</string>
			<key>image</key>
			<string>sport_image_friend_contact</string>
			<key>index</key>
			<string>1</string>
			<key>local</key>
			<string>addressBookFriends</string>
		</dict>
		<dict>
			<key>title</key>
			<string>添加微信好友</string>
			<key>image</key>
			<string>sport_image_friend_wx</string>
			<key>index</key>
			<string>2</string>
			<key>local</key>
			<string>addWechatFriend</string>
		</dict>
		<dict>
			<key>title</key>
			<string>添加QQ好友</string>
			<key>image</key>
			<string>sport_image_friend_qq</string>
			<key>index</key>
			<string>3</string>
			<key>local</key>
			<string>addQQFriends</string>
		</dict>
	</array>
	<key>systemMessage</key>
	<dict>
		<key>104</key>
		<dict>
			<key>title</key>
			<string>活动被赞</string>
			<key>image</key>
			<string>sport_image_systemmessage_activity_zan</string>
			<key>index</key>
			<string>1</string>
			<key>local</key>
			<string>activityLiked</string>
		</dict>
		<key>102</key>
		<dict>
			<key>title</key>
			<string>动态被赞</string>
			<key>image</key>
			<string>sport_image_systemmessage_dynamic_zan</string>
			<key>index</key>
			<string>2</string>
			<key>local</key>
			<string>statusLiked</string>
		</dict>
		<key>105</key>
		<dict>
			<key>title</key>
			<string>活动评论</string>
			<key>image</key>
			<string>sport_image_systemmessage_activity_comment</string>
			<key>index</key>
			<string>3</string>
			<key>local</key>
			<string>activityCommented</string>
		</dict>
		<key>101</key>
		<dict>
			<key>title</key>
			<string>LOKER客服</string>
			<key>image</key>
			<string>sport_image_systemmessage_service</string>
			<key>index</key>
			<string>4</string>
			<key>local</key>
			<string>lokerService</string>
		</dict>
		<key>103</key>
		<dict>
			<key>title</key>
			<string>动态被评论</string>
			<key>image</key>
			<string>sport_image_systemmessage_comment</string>
			<key>index</key>
			<string>3</string>
			<key>local</key>
			<string>statusCommented</string>
		</dict>
		<key>106</key>
		<dict>
			<key>title</key>
			<string>新朋友</string>
			<key>image</key>
			<string>sport_image_systemmessage_follow</string>
			<key>index</key>
			<string>3</string>
			<key>local</key>
			<string>newFriends</string>
		</dict>
		<key>107</key>
		<dict>
			<key>title</key>
			<string>@我的</string>
			<key>image</key>
			<string>sport_image_systemmessage_atme</string>
			<key>index</key>
			<string>3</string>
			<key>local</key>
			<string>@me</string>
		</dict>
		<key>108</key>
		<dict>
			<key>title</key>
			<string>帖子回复</string>
			<key>image</key>
			<string>sport_image_systemmessage_forum</string>
			<key>index</key>
			<string>3</string>
			<key>local</key>
			<string>forumMsgNotify</string>
		</dict>
	</dict>
	<key>sharemenus</key>
	<array>
		<dict>
			<key>title</key>
			<string>短信</string>
			<key>image</key>
			<string>system_image_share_message</string>
			<key>index</key>
			<string>0</string>
			<key>key</key>
			<string>sms</string>
		</dict>
		<dict>
			<key>title</key>
			<string>微博</string>
			<key>image</key>
			<string>system_image_share_sina</string>
			<key>index</key>
			<string>1</string>
			<key>key</key>
			<string>sina</string>
		</dict>
		<dict>
			<key>title</key>
			<string>微信</string>
			<key>image</key>
			<string>system_image_share_wechat</string>
			<key>index</key>
			<string>2</string>
			<key>key</key>
			<string>wxsession</string>
		</dict>
		<dict>
			<key>title</key>
			<string>朋友圈</string>
			<key>image</key>
			<string>system_image_share_qz</string>
			<key>index</key>
			<string>3</string>
			<key>key</key>
			<string>wxtimeline</string>
		</dict>
		<dict>
			<key>title</key>
			<string>QQ</string>
			<key>image</key>
			<string>system_image_share_qq</string>
			<key>index</key>
			<string>4</string>
			<key>key</key>
			<string>qq</string>
		</dict>
	</array>
	<key>report</key>
	<array>
		<string>广告或垃圾信息</string>
		<string>骚扰或人身攻击</string>
		<string>色情,淫秽内容</string>
		<string>激进时政,敏感内容</string>
	</array>
</dict>
</plist>
